<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>data</th>
            <th>pontuação (máx.: 3126)</th>
        </tr>
    </thead>

    <tbody>
        <% @pontos.each do |ponto| %>
            <tr>
                <td><%= ponto.user_id %></td>
                <td><%= ponto.nome %></td>
                <td><%= ponto.dataPontuacao.strftime("%d/%m/%Y") %></td>
                <td> <%= ponto.pontuacao %></td>
            </tr>
        <% end %>
    </tbody>

</table>